.markdown-rendered {
  table {
    border-collapse: separate; /* must be separate, NOT collapse */
    border-spacing: 5px; /* controls the gap between cells */
  }

  td,
  th {
    border-radius: 6px; /* now works because of separate */
  }

  .word {
    background: #185fa5 !important;
    border-color: #0c447c !important;
    color: #e6f1fb !important;
    font-weight: 500 !important;
    letter-spacing: 0.03em;
  }
}

.markdown-rendered :is(table, th, td) {
  border: 1px solid;
  vertical-align: middle !important;
  text-align: center !important;
}

.markdown-rendered table {
  .orange,
  [class='.orange'] {
    background-color: rgb(173, 117, 45) !important;
    color: white !important;
  }
  .yellow,
  [class='.yellow'] {
    background-color: rgb(173, 173, 45) !important;
    color: black !important;
  }
  .green,
  [class='.green'] {
    background-color: rgb(45, 173, 45) !important;
    color: black !important;
  }
  .blue,
  [class='.blue'] {
    background-color: rgb(45, 45, 173) !important;
    color: white !important;
  }
  .left-aligned,
  [class='.left-aligned'] {
    text-align: left !important;
  }
}
